$color1:white;
$color2:yellow;
@mixin margen($arriba,$abajo){
margin-top: $arriba;
margin-left: $abajo;
}
.container-fluid .navbar .navbar-nav .nav-item .nav-link {
    padding-left: 50px ;
    color:$color1;
  }
  .inscribir {
    width: 30%;
    border: 2px solid black;
    @include margen(13px,16px)
  }
  .lo:checked,
  .lo:hover {
    border: none;
    border-bottom: 3px solid black;
  }
  .lo {
    border: none;
    border-bottom: 1px solid black;
    color: #98ebb477;
  }
  .pass:checked,
  .pass:hover {
    border: none;
    border-bottom: 3px solid black;
  }
  .pass {
    border: none;
    border-bottom: 1px solid black;
    color:$color1;
  }
  .email {
    margin-left: 10px;
  }
  .po {
    background: $color2;
    color: #3622E5;
  }
  .buttom {
    width: 90%;
    height: 40px;
    border-color: black;
    border-width: 2px;
  }
  .buttom:hover {
    background: #d5d6df;
    color: dark;
  }
  .insertar {
    background: #98ebb477;
  }
  .te {
    margin-left: 25%;
  }
  .re1 .card .card-footer .btn {
    background: rgba(65, 52, 240, 0.562);
  }
  .re1 .card .card-footer .btn:hover {
    background: rgba(55, 42, 240, 0.918);
  }
  .re1 {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .re1 .card {
    width: 100%;
    height: 100%;
  }
  .jumbotron {
    margin-top: 55px;
  }
  .container-fluid .la .display-4 {
    margin-right: 145px;
  }
  