.container-fluid .navbar .navbar-nav{
    
}
.container-fluid .navbar .navbar-nav .nav-item .nav-link{
    padding-left:50px ;
    color:white;
}
.inscribir{
    width:30%;
    border: 2px solid black;
    margin-top:40px ;
}
.lo:checked, .lo:hover{
	border:none;
	border-bottom: 3px solid black;
}
.lo{
border:none;
	border-bottom: 1px solid black;
		color:white;
}

.pass:checked, .pass:hover{
	border:none;
	border-bottom: 3px solid black;
}
.pass{
border:none;
	border-bottom: 1px solid black;
		color:white;
}
.email{
	margin-left: 10px;
}
.po{
	background:#91ABF1;
	color: #3622E5
}
.buttom{
	width: 90%;
		height: 40px;
	border-color: black;
	border-width: 2px
}
.buttom:hover{
	background: #d5d6df;
	color: dark;
}
.insertar{
	background: #E8E6E6;
}
.te{
	margin-left: 25%;
}
.re1 .card .card-footer .btn{
  
   
    background: rgba(65, 52, 240, 0.562);
 }
 .re1 .card .card-footer .btn:hover{
   
    
     background: rgba(55, 42, 240, 0.918);
  }
 .re1{
 margin-top: 32px;
 display:flex;
 justify-content: center;
 align-items: center;
 }
 .re1 .card{
     width: 100%;
     height:100%;
 }
 .jumbotron{
     margin-top: 55px;
 }
 footer{
   
 }
 .container-fluid .la .display-4{

    margin-right: 145px;
 }